/* These are the css for owl carosuel */
/* This is the css for slider one that is in the top */


/* This is the css for slider one that is in the top */



/* This is the css for sliderfour that is in the last */
#sliderfour button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #d6d6d6;
    margin: 2px;
    position: relative;
    right: -50%;
    transform: translate(-50%, -50%);
}

#sliderfour .owl-dot.active
{
	background: #869791 !important;
}

/* This is the css for sliderfour that is in the last */





/* These are the css for owl carosuel */